*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Used the 62.5% font size trick to convert the root 16px to base-10 system while using rems */
    font-size: 62.5%;
}

/* ============================

            CUSTOM VARIABLES

=============================== */

:root {
    /**** colors ****/
    --light-blue: #5093e2;
    --peach: #f3bf99;
    --white: #f5f5f5;
    --off-white: #dcdcdc;
    --grey: #918e9b;
    --light-navy: #1a1b21;
    --dark-navy: #161619;
    --black: #1e1f26;

    /**** font ****/
    --name-ff: normal 700 2.5rem/2rem "Inter", sans-serif;
    --role-ff: normal 400 1.2rem/1.5rem "Inter", sans-serif;
    --btn-ff: normal 500 1.4rem/1.6rem "Inter", sans-serif;
    --p-ff: normal 400 1rem/1.5rem "Inter", sans-serif;
    --h1-ff: normal 700 1.6rem/2.4rem "Inter", sans-serif;

    /**** shadow ****/
    --btn-shadow: 0px 1px 2px 0px #0000000D;
}


.footer {
  height: 6.4rem;
  background-color: var(--dark-navy);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  border-radius: 0px 0px 10px 10px;
}

.footer img {
  cursor: pointer;
}